#sidebar{
	height: 100%;
	width: 10%;
	background-color: #23282d;
	float: left;
}
#sidebar img{
	width: 35px;
	float: left;
	margin-right: 5px;
}
#admin img{
	width: 30px;
	float: left;
	margin-top: -5px;

}
#posts{
	/* float: right; */
	margin-left: 30%;
}
#title,#content,#submit,#desc{
	width: 60%;
}
.label{
	margin-left: 20%;
}
#sidebar{
	line-height: 2.5;
}
#sidebar a{
	text-decoration: none;
	color: white;
}
#sidebar a:hover{
	color: #0073aa;
}

#admin span{
	float: right;
	color: white;
	padding-top: 5px;
}
#admin p{
	float: top;
	color: white;
	text-align: center;
	padding-top: 0px;
}
#admin{
	background-color: #23282d;
	height: 5%;
}
#content_page{
	height: 100%; /* высота нашего блока */
width: auto; /* ширина нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow-y: scroll; /* прокрутка по вертикали */
}
#content_post{
	height: 100%; /* высота нашего блока */
width: auto; /* ширина нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */
overflow-y: scroll; /* прокрутка по вертикали */
}
#content_post a, #top_menu a:hover,#admin a:hover{
	color: #0073aa
}
#content_post a:hover{
	color: black;
}
#content_menu{
	margin-left: 50%;
	margin-top: 20%;
}
#top_menu li{
	float: left;
	margin-left: 20px;
	border-right: 1px solid black;
	padding-right: 5px;
}
 #admin a{
 	color: white;
 }
 #top_menu a{
 	color: black;
 }
 
#my_menu{
	width: 100%;
	height: 20px;
	border: 1px solid black;
	background-color: #23282d;
}
.dropdown:hover > .dropdown-menu { 
display: block;
margin: 0;
}
.dropdown-menu > li > a:hover{
	color: red;
}
/**меню**/
/**
 * Skyrim-inspired Menu
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
	min-height: 100%;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	/* color: rgba(255, 255, 255, 0.6); */
	text-decoration: none;
}

	/* a:hover, li:hover > a {
		color: #FFF;
	} */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

#menu {

	border-right: 1px solid #FFF;
	min-height: 100%;
}

#menu li {
	position: relative;
	z-index: 1;
}

#menu li a {
	display: block;
	padding: 0.5em 1em;
	white-space: nowrap;
	font-size: 14px;
}

 	#menu li ul {
	position: absolute;
	 overflow: hidden;
	display: none; 
	left: 100%;
	top: 0.5em;
	float: none;
	background-image: -moz-radial-gradient(0 100%, ellipse  farthest-side, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 33%, rgba(0,0,0,0) 100%);
	background-image: -webkit-radial-gradient(0 100%, ellipse  farthest-side, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 33%, rgba(0,0,0,0) 100%);
	background-image: radial-gradient(circle closest-corner at 0px 0px,#f9eec7, #23282d, #23282d);
} 
	
	#menu li:hover ul {
		display: block;
	}
	
	#menu li ul a {
		position: relative;
		font-size: 0.9em;
	}
	
	#menu li ul a:hover:before {
		content: "";
		display: block;
		width: 1em;
		height: 1em;
		background: rgba(0,0,0,0.75);
		border: 1px solid #FFF;
		position: absolute;
		top: 0.5em;
		left: -0.75em;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	/*меню внешний вид*/
	.form_themes{
		/* margin-left: 20%; */

		overflow: visible;
	}
	.themes img{
		width: 40%;
	}
	.themes h3{
		margin-left: 10%;

	}
	.deact{
		margin-left: 19%;
	}
	#active{
		background-color: #23282d;
		padding-top: 25%;
    	margin-top: -26%;
    	width: 40%;
	}
	#active h5{
	font-family: "Open Sans", sans-serif;
    color: white;
	}
	.form_add{
		margin-top: 0%;
    	margin-left: 50%;
	}
	#title_tm{
		margin-left: 50%;
		margin-top: 10%;
	}
	#theme{
		overflow-y: scroll;
		height: 90%;
	}
	footer{
		margin-top:100%;
	}
	.style_textbox{
		height: 20px;
		width: 20px;
		margin-top: 10px;
		border: 1px solid black;

	}
	#hidden_block{
		display: none;
	}
	#toTop {
		width:100px;
		background:#f7f7f7;
		text-align:center;
		padding:5px;
		position:fixed;
		bottom:40px; /* отступ кнопки от нижнего края страницы*/
		right:10px;
		cursor:pointer;
		display:none;
		color:#333;
		font-family:verdana;
		font-size:11px;
		opacity: 0.75;
	}
	.active_li{
		background-color: #a52a2a;
        color: #faebd7;
	}

	@media (max-width: 720px) {
		#exampleFormControlTextarea1{
			width: 100%;
		}
		#coderaion_btn{
			margin-top: 10px;
			margin-left: 0px;
		}
		#exampleFormControlTextarea2{
			width: 100%;
		}
		#np_code{
			margin-top: 10px;
			margin-left: 0px;
		}
	}
	@media (min-width: 720px){
		#exampleFormControlTextarea1{
			width: 114%;
		}
		#exampleFormControlTextarea2{
			width: 160%;
		}
		#coderaion_btn{
			margin-left: 10px;
		}
		#np_code{
			margin-left: 10px;
		}
	}
	
